*, ::after, ::before {
  box-sizing: initial;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tabMenu {
  padding: 15px 15px 10px 15px;
  margin: 0px auto 0px auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  width: max-content;
  max-width: calc(100vw - 48px);
}